@import url("https://fonts.googleapis.com/css2?family=Arima:wght@100..700&family=Arimo:ital,wght@0,400..700;1,400..700&family=Prata&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;
* {
  font-family: Arima;
}

select,
input,
textarea {
  border: 1px solid #c2c2c2;
  outline-color: rgb(196, 188, 188);
  border-radius: 4px;
}
.active {
  background-color: rgb(196, 188, 188);
  border-color: black;
}
