@import url("https://fonts.googleapis.com/css2?family=Arima:wght@100..700&family=Arimo:ital,wght@0,400..700;1,400..700&family=Prata&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

a.active hr {
  display: block;
}
* {
  font-family: "Arima";
}
.prata-regular {
  font-family: "Prata", serif;
  font-weight: 400;
  font-style: normal;
}
.arima-family {
  font-family: "Arima", serif;
  font-optical-sizing: auto;
  font-weight: 200;
  font-style: normal;
}

img ::-webkit-scrollbar {
  display: none;
}
@media (max-width: 640px) {
  a.active {
    background-color: grey;
    color: white;
  }
}
